.container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 100px;
}
mat-card {
  display: flex;
  flex-direction: column;
}
mat-icon {
  width: 15rem;
  height: 15rem;
  font-size: 15rem;
  margin: 0 auto;
}
mat-card-header {
  margin: 0 auto;
}
.example-card {
  max-width: 250px;
}
